@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-color: #fff;
    --seconday-color: hsl(300, 43%, 22%);
    --third-color: hsl(300, 24%, 96%);
    --fourth-color: hsla(300, 100%, 54%, 0.753);
    /* Fonts */
    --font-family: font-family: 'League Spartan', sans-serif;
}

body {
    height: 100%;
}
main {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10% 2%;
    margin: auto;
    font-family: var(--font-family);

}

.first__row .text-content {
    text-align: center;
    margin: 0;
}
.first__row .text-content .title{
    color: var(--seconday-color);
    font-weight: 800;
    text-align: center;
    margin: auto;
}
.first__row .text-content .describ{
    color: var(--seconday-color);
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5rem;
    text-align: center;
    padding-block: clamp(1rem, 3vh, 3rem);
}


/* Images section rate*/

.first__row .images-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 5%;

}
.first__row .images-content .rate {
    display: flex;
    align-items: center;
    background-color: var(--third-color);
    text-align: center;
    padding: 2%;
    margin-block: 2%;
    border-radius: 5px;
}
.first__row .images-content .rate .images {
    margin-right: 2%;
    display: flex;

}
.first__row .images-content .rate .rate-review {

    padding-block: 2%;
    color: var(--seconday-color);
    font-weight: 600;
    font-size: 100%;

}
.second__row {
    padding-block: 5%;
}

.second__row .box {

    color: var(--primary-color);
    background-color: var(--seconday-color);
    padding: 5%;
    margin-block: 2%;
    border-radius: 5px;

}
.second__row .box .profile {

    display: flex;
    column-gap: 5%;
    padding-block: 2%;


}
.second__row .box .profile img {

    border-radius: 50%;
    border: 1px solid var(--primary-color);
    width: 10%;
    height: 10%;
    
}
.second__row .box .profile .detail p {

    color: var(--fourth-color);
    padding-top: 2%;

}
.second__row .box .profile .detail h2 {
    font-weight: 200;
    font-size: 100%;

}

/* Desktop version */
@media screen and (min-width: 450px) {
    body {
        height: 100vh;
        display: flex;
        align-items: center;
    }
    main {
        display: flex;
        justify-content: center;
    }

    .first__row {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .first__row .text-content {
        width: 40%;

    }
    .first__row .text-content .title{
        color: var(--seconday-color);
        font-weight: 800;
        font-size: 2rem;
        padding-right: 15%;
        text-align: left;
    }
    .first__row .text-content .describ {
        text-align: left;
    }

    .first__row .images-content {
        display: flex;
        align-items: end;
        width: 50%;
        padding-right: 0;
        padding-inline: 2%;
    }
    .first__row .images-content .rate {
        display: flex;
        justify-content: center;
        width: 80%;
    }

    .first__row .images-content .first__rate{
        margin-right: 20%;
    }
    .first__row .images-content .second__rate{
        margin-right: 10%;
    }
    .first__row .images-content .third__rate{
        margin-right: 0%;
    }

    .second__row {
        display: flex;
        column-gap: 2%;
        padding-inline: 1%;
    }
    .second__row .left__box {
        margin-top: 2%;
        margin-bottom: 4%;
    }
    .second__row .center__box {
        margin-top: 4%;
        margin-bottom: 2%;

    }
    .second__row .right__box {
        margin-top: 6%;
        margin-bottom: 0%;

        
    }
}