@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-color: #fff;
    --seconday-color: hsl(300, 43%, 22%);
    /* Fonts */
    --font-family: font-family: 'League Spartan', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    margin: auto;
    font-family: var(--font-family);

}
.first__row .text-content {
    text-align: center;
    margin: 0;
}
.first__row .text-content .title{
    color: var(--seconday-color);
    font-weight: 800;
    font-size: 2rem;
    padding-right: 15%;
    /* border: 2px solid red; */
}
.first__row .text-content .describ{
    color: var(--seconday-color);
    font-weight: 600;
    line-height: 1.5rem;
    padding-block: 10px;

}

/* Right box */
.first__row .right__box .rate {
    background-color: hsl(300, 24%, 96%);
    text-align: center;
    padding: 10px;
    margin-block: 10px;
    border-radius: 5px;

}
.first__row .right__box .rate h5 {
    padding-block: 2px;
    color: hsl(300, 43%, 22%);
    font-weight: 900;
}
.second__row {
    padding-block: 20px;
}
.second__row .box {
    background-color: hsl(300, 43%, 22%);
    padding: 30px;
    margin-block: 15px;
    border-radius: 5px;
    color: #fff;
}
.second__row .box .profile {
    display: flex;
    column-gap: 20px;
    padding-block: 20px;
}
.second__row .box .profile img {
    border-radius: 50%;
    border: 1px solid #fff;
    width: 40px;
}
.second__row .box .profile .detail p {
    color: hsla(300, 100%, 54%, 0.753);
    padding-top: 2px;
}
.second__row .box .profile .detail h3 {
    font-weight: 300;
}

@media screen and (min-width: 450px) {
    body {
        display: flex;
        justify-content: center;
        border: 2px solid blue;
    }

    .first__row {
        display: flex;
        width: 100%;
        justify-content: space-between;
        /* border: 2px solid blue; */
    }
    .first__row .text-content {
        text-align: left;
        width: 400px;
    }
    .first__row .right__box .second__rate{
        margin-left: 50px
    }
    .first__row .right__box .third__rate{
        margin-left: 100px
    }
    .first__row .right__box .rate {
        display: flex;
        column-gap: 20px;
        justify-content: center;
        width: 400px;

    }

    .second__row {
        display: flex;
        column-gap: 20px;
    }
    .second__row .box {
        /* width: 300px; */
        height: 250px;
        padding: 10px;
    }
    .second__row .center__box {
        margin-top: 30px
    }
    .second__row .right__box {
        margin-top: 60px;
    }
}